<div class="fr-desktop">
    <a href="/views/signin">
        <div class="fr-desktop--signin">
            <span class="fr-desktop--signin-text">Sign In</span>
        </div>
    </a>
    <a href="/views/signup">
        <div class="fr-desktop--signup">
            <span class="fr-desktop--signup-text">Sign Up</span>    
        </div>
    </a>
</div>
<div class="fr-moblie">
    <div class="btn-menu">
        <i></i>
        <i></i>
        <i></i>
    </div>
</div>
