<a href="/views/signin">
    <div class="fr-desktop--signin btn">
        <span class="fr-desktop--signin-text">Sign In</span>
    </div>
</a>
<a href="/views/signup">
    <div class="fr-desktop--signup btn">
        <span class="fr-desktop--signup-text">Sign Up</span>    
    </div>
</a>
