<div class="fr-desktop__loged">
    {{#if INFO_USER.avatarPath}}
        <div class="fr-desktop__loged--avatar">
            <img src="{{INFO_USER.avatarPath}}" alt="avatar">
        </div>
    {{else}}
        <div class="fr-desktop__loged--icon">
            <i class="far fa-user"></i>
        </div>
    {{/if}}
    <span class="fr-desktop__loged--name-user">
        {{INFO_USER.accountName}}
    </span>
    <span class="fr-desktop__loged--icon">
        <i class="fas fa-chevron-up"></i>
    </span>
    <div class="fr-desktop__loged--option">
        <a href="/user/info" class="fr-desktop__loged--option-item">
            <i class="far fa-address-card"></i>
            Trang cá nhân
        </a>
        <a class="fr-desktop__loged--option-item logout-user">
            <i class="fas fa-sign-out-alt"></i>
            Đăng xuất
        </a>
    </div>
</div>