<div class="header__right--loged">
    <div class="header__right--loged-icon">
        <i class="far fa-user"></i>
    </div>
    <div class="header__right--loged-name-account">
        <span class="header__right--signup-text">
            {{ACCOUNT_NAME}}
        </span>
    </div>
    <div class="header__right--loged-option">
        <span class="header__right--loged-option-select">Trang cá nhân</span>
        <span class="header__right--loged-option-select">Đăng xuất</span>
    </div>
</div>