<div class="show-story">
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://imgtruyentr.staticscdn.net/2021/03/tai-thuong-tong-tai.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDR100qKnJ08QhzLS0M1A_z8zUJcs0zsMz31HeEghwzA32PJCfTqky_MIOMcv1yQyNL3QxDSyMATfISJg==/the-gioi-hoan-my.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDW160wTC70dXI0zAnO1g9LL0gpsAz0CA_x1HeEAqckR31jj0A_n_Jg8ygXC_1yQyNL3QxDSyNdz2QTIwCufBM8/linh-vu-thien-ha.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDW13UqDPHxS0sK13UN1A8zNCnPDTRzijT01HeEgoCgSP00b8PKtCKfYscIR2-n_Eo_D7PEqAzzsLCgZJMScyfd3EBn53z9ckMjS90MQ0sjAHtSGe4=/doc-ton-tam-gioi.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDW17XwKMhMzfGOzyvN1g8rLE1KCkjLdyn01HeEAi8jE_2CxPyQqHLjzDJXE_1yQyNL3QxDSyNdz2QTIwDh9BSQ/vo-thuong-sat-than.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDW1y12zS-38Hb1cIqI1A8zCc_PzS6J8Hf11HeEgsCCdH0jJ7f0XMeC_ELXQN28XPOqgnCn5GD_qsy88kLPotyQQEdnD1_9ckMjS90MQ0sjAMLpG6E=/toi-cuong-than-thoai-de-hoang.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDR1w2w9IwI8QsKyAly1Q9z8nUxjXTxCE3y1HeEgmxfC_2o4MiMUDPnwHjLZP1yQyNL3QxDSyMANTgRmQ==/de-ton.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDR1w0sDQ9INDDUTTFP1w_zTAs1N_cpMIz01HeEgpykbH3nIqOA1HTfcI-wYv1yQyNL3QxDSyMAPyESEw==/kiem-dao-doc-ton.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
    <div class="show-story__item">
      <a href="" class="show-story__item--link">
        <div class="show-story__item--link-pic">
          <img src="https://static.8cache.com/cover/o/eJzLyTDT13VPNDMNTQpJsihN1g9z80-s8nI2c3P31HeEguz8UH2jSK8kd5OUKvMoX_1yQyNL3QxDSyMARBsR-w==/hoanh-tao-hoang-vu.jpg" alt="" />
        </div>
        <span class="show-story__item--link-name-story">This is name story. It's only demo!
          and i will add to context!</span>
      </a>
      <div class="show-story__item--statistical">
        <p class="show-story__item--statistical-number-chapter">
          <i class="far fa-bookmark"></i>145</p>
        <p class="show-story__item--statistical-number-love">
          <i class="fas fa-heart"></i>2454</p>
        <p class="show-story__item--statistical-number-view">
          <i class="fas fa-eye"></i>13422321</p>
      </div>
      <div class="show-story__item--btn">
        <button class="btn">Theo dõi</button>
        <button class="btn">Yêu thích</button>
      </div>
    </div>
</div>