:root {
	--text-primary: #94a1b2;
	--title-primary: #FEFEFD;
	--input-primary: #FEFEFD;
	--text-btn: #FFFFFE;
	--bg-dark: #242629;
	--bg-fg: #242629;
	--bg-card: #16161a;
	--fg-font-input: 1.3rem;
	--fg-font-title: 1.2rem;
	--card-font-input: 1.3rem;
	--card-font-title: 1.8rem;
	--fg-m-tb-input: 0.5rem;
	--fg-p-tb-input: 0.5rem;
	--fg-m-tb-title: 0.5rem;
	--card-font-input: 1.3rem;
	--card-font-title: 1.8rem;
	--card-m-tb-content: 0.5rem;
	--card-m-tb-title: 0.5rem;
	--fg-border: 4px;
	--btn-primary: #7F5AF0;
	--btn-hover: #7f5af0b4;
	--btn-active: transparent;
	--btn-pd: 0.7rem;
	--btn-border: 4px;
	--word-space: -0.5rem;
    --header: #242629;
    --header-title: #FEFEFD;
    --color-title: #FEFEFD;
    --title-size: 1.2rem;
    --header-sign: #FEFEFD;
    --logo-size: 1.8rem;
    --paragraph: #94a1b2;
	--size-paragraph: 0.8rem;
	--size-name-story: 1rem;
	--color-name-story: #FEFEFD;
	--color-chapter: rgb(231, 0, 0);
	--color-love: rgb(21, 184, 56);
	--color-view: rgb(251, 255, 41);
}
