/* source font by gg */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* source font by gg */

@import "mixin";
@import "variable";
@import "StylesComponent/SideStory";
@import "StylesComponent/GridForBodyStory";
@import "StylesComponent/sign";
@import "StylesComponent/profile";

body {
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--bg-dark);
    user-select: none;
}

a {
    text-decoration: none;
}

.context {
    color: var(--paragraph) !important;
}

.container {
	width: 100%;
	height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view__empty {
    width: 100%;
    height: 100vh;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

// this is scope header

.header {
    width: 80%;
    min-height: 4rem;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        height: 100%;
        margin: 0 1rem;
        a {
            display: flex;
            height: 100%;
            align-items: center;
        }
        &--logo {
            height: 100%;
            width: 4rem; 
            background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--logo-text {
            color: var(--header-title);
            font-family: 'Pacifico', cursive;
            font-size: var(--logo-size);
        }
    }
    &__right {
        display: flex;
        height: 100%;
        align-items: center;
        &--signin {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--signup {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--loged {
            display: flex;
            cursor: pointer;
            position: relative;
            z-index: 999;
            div {
                margin: 0 0.2rem;
            }
            &-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @include contentCenter;
                border: 2px solid var(--title-primary);
                i {
                    font-size: 1rem;
                    color: var(--title-primary);
                }
            }
            &-name-account {
                height: 30px;
                border: 2px solid var(--title-primary);
                border-radius: 4px;
                @include contentCenter;
                padding: 0 0.2rem;
            }
            &-option {
                display: none;
            }
            &:hover {
                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0.8rem;
                    background-color: transparent;
                    bottom: 0;
                    transform: translateY(100%);
                }
                > :last-child {
                    width: 100%;
                    display: block;
                    position: absolute;
                    background-color: var(--bg-card);
                    display: flex;
                    flex-direction: column;
                    border: 2px solid var(--title-primary);
                    border-radius: 4px;
                    transform: translateY(50%);
                    top: 0;
                    margin: 0;
                    box-sizing: border-box;
                    a {
                        color: var(--text-primary);
                        font-size: var(--size-paragraph);
                        padding: 1rem;
                        &:hover {
                            background-color: var(--hover-bg-card);
                        }
                    }
                }
            }
        }
    }
}

// this is scope header

// this is scope footer

.footer {
    width: 80%;
    background-color: var(--header);
    display: flex;
    &__left {
        width: 70%;
        margin: 0 1rem;
        &--link {
            height: 4rem;
            width: fit-content;
            display: flex;
            align-items: center;
            &-logo {
                height: 100%;
                width: 4rem; 
                background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
                background-size: 90%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &-logo-text {
                color: var(--header-title);
                font-family: 'Pacifico', cursive;
                font-size: var(--logo-size);
            }
        }
        &--describe {
            color: var(--paragraph);
            font-size: var(--size-paragraph);
            padding: 0.5rem 0;
        }
        &--copyright {
            color: var(--paragraph);
            font-size: 0.9rem;
        }
    }
    &__right {
        width: 30%;
        &--title-type {
            display: block;
            font-size: var(--title-size);
            color: var(--header-title);
            margin: 0.75rem 0.75rem;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;
            &-type-story {
                margin: 0.75rem 0.75rem;
                @include btn;
            }
        }
    }
}

// this is scope footer
