/* source font by gg */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* source font by gg */

@import "mixin";
@import "variable";
@import "StylesComponent/SideStory";
@import "StylesComponent/GridForBodyStory";
@import "StylesComponent/sign";
@import "StylesComponent/profile";
@import "StylesComponent/changePassword";
@import "StylesComponent/info";
@import "StylesComponent/inputFile";

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
	background-color: var(--bg-dark);
    user-select: none;
}

a {
    text-decoration: none;
}

.context {
    color: var(--paragraph) !important;
}

.container {
	width: 100%;
	height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view__empty {
    width: 100%;
    height: 100vh;
}

.wraper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

// this is scope header

.header {
    width: 80%;
    min-height: 4rem;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        height: 100%;
        margin: 0 1rem;
        a {
            display: flex;
            height: 100%;
            align-items: center;
        }
        &--logo {
            height: 100%;
            width: 4rem; 
            background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--logo-text {
            color: var(--header-title);
            font-family: 'Pacifico', cursive;
            font-size: var(--logo-size);
        }
    }
    &__right {
        display: flex;
        height: 100%;
        align-items: center;
        &--signin {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--signup {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--loged {
            display: flex;
            cursor: pointer;
            position: relative;
            z-index: 999;
            div {
                margin: 0 0.2rem;
            }
            &-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @include contentCenter;
                border: 1px solid var(--title-primary);
                overflow: hidden;
                i {
                    font-size: 1rem;
                    color: var(--title-primary);
                }
                img {
                    width: 100%;
                }
            }
            &-name-account {
                height: 30px;
                border: 1px solid var(--title-primary);
                border-radius: 4px;
                @include contentCenter;
                padding: 0 0.2rem;
            }
            &-option {
                display: none;
            }
            &:hover {
                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1rem;
                    background-color: transparent;
                    bottom: 0;
                    transform: translateY(100%);
                }
                > :last-child {
                    width: 100%;
                    display: block;
                    position: absolute;
                    background-color: var(--bg-card);
                    display: flex;
                    flex-direction: column;
                    border: 1px solid var(--title-primary);
                    border-radius: 4px;
                    transform: translateY(50%);
                    top: 0;
                    margin: 0;
                    box-sizing: border-box;
                    a {
                        color: var(--text-primary);
                        font-size: var(--size-paragraph);
                        padding: 1rem;
                        &:hover {
                            background-color: var(--hover-bg-card);
                        }
                    }
                }
            }
        }
    }
}

// this is scope header

// this is scope footer

.footer {
    width: 80%;
    background-color: var(--header);
    display: flex;
    &__left {
        width: 70%;
        margin: 0 1rem;
        &--link {
            height: 4rem;
            width: fit-content;
            display: flex;
            align-items: center;
            &-logo {
                height: 100%;
                width: 4rem; 
                background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
                background-size: 90%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &-logo-text {
                color: var(--header-title);
                font-family: 'Pacifico', cursive;
                font-size: var(--logo-size);
            }
        }
        &--describe {
            color: var(--paragraph);
            font-size: var(--size-paragraph);
            padding: 0.5rem 0;
        }
        &--copyright {
            color: var(--paragraph);
            font-size: 0.9rem;
        }
    }
    &__right {
        width: 30%;
        &--title-type {
            display: block;
            font-size: var(--title-size);
            color: var(--header-title);
            margin: 0.75rem 0.75rem;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;
            &-type-story {
                margin: 0.75rem 0.75rem;
                @include btn;
            }
        }
    }
}

@include inputForm_update;
@include checkbox;
@include text_underline;

table, td, th {
    padding: 10px;
    text-align: left;
    border: 1px solid #fff;
    vertical-align: top;
    color: #fff;
}

.box-title {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.6rem 0; 
}

.your-post {
    a {
        color: #fff;
    }
    &__title {
        font-size: 1.2rem;
        color: #fff;
        padding: 0.6rem 0; 
    }
    &__list {
        a {
            display: block;
            margin: 0.6rem 0;
            font-size: 1rem; 
        }
    }
}

.add-your-story {
    color: #fff;
    a { 
        color: #fff;
        &:hover {
            color: #fd999a;
        }
    }
    .add-your-story__type {
        width: 100%;
        h1 {
            font-size: 1.2rem;
            color: #fff;
            padding: 0.6rem 0; 
            margin-left: -10px;
        }
    }
    &__context--name--number-chapter {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        flex-shrink: inherit;
        div:first-child {
            margin-right: 5rem;
        }
        div {
            width: 50%;
            .formRow--item {
                width: 100%;
            }
        }
    }
    .upload-image-story {
        .box__show--image-loaded {
            border: 4px dashed #1FB264;
            margin-top: 14px;
            display: flex;
            padding: 10px;
            position: relative;
            div {
                flex: 1;
            }
            .box__show--image-loaded--left {
                margin-right: 10px;
                div {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .image__story {
                    font-size: 14px;
                    padding: 0.8rem 0.2rem;
                    cursor: pointer;
                    display: flex;
                    &:hover {
                        background-color: #1FB264 !important;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                    }
                    &--name {
                        width: 12rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    &--size {
                        width: 10rem;
                    }
                    &--order {
                        width: calc(100% - 22rem);
                    }
                }
                .image__story--heading {
                    width: 100%;
                    display: flex;
                    font-size: 14px;
                    cursor: pointer;
                    box-sizing: border-box;
                    position: relative;
                    span {
                        line-height: 2.5;
                        display: block;
                    }
                    &-name {
                        width: 12rem;
                    }
                    &-size {
                        width: 10rem;
                    }
                    &-order {
                        width: calc(100% - 22rem);
                    }
                }
            }
            .box__show--image-loaded--right {
                max-width: 20rem;
                height: 25rem;
                position: sticky;
                top: 10px;
                .view-image {
                    height: 100%;
                    overflow: hidden;
                    img {
                        max-width: 100%; 
                        border-radius: 5px;
                        border: 1px solid #fff;
                        box-sizing: border-box;
                        position: absolute;
                    }
                    #len-zoom {
                        max-width: 100%;
                        position: absolute;
                        border: 1px solid #fff;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

}

// this is scope footer
