/* source font by gg */
@import '/owl.carousel/dist/assets/owl.carousel.min.css';

/* source font by gg */

@import "mixin";
@import "variable";
@import "animation";
@import "StylesComponent/GridForBodyStory";
@import "StylesComponent/sign";
@import "StylesComponent/profile";
@import "StylesComponent/changePassword";
@import "StylesComponent/info";
@import "StylesComponent/inputFile";
@import "StylesComponent/story";
@import "StylesComponent/chapter";

@include story;
@include btn;
@include checkBoxElement;
@include selectList;

body {
    font-size: 13px;
	background-color: var(--bg-dark);
    user-select: none;
    font-family: 'UVN Bai Sau';
}

.app {
    width: 80%;
    margin: 20px 0;
}

a {
    text-decoration: none;
}

a, span, p {
    -webkit-user-select: none;
}

img {
    -webkit-user-drag: none;
}

.a-warning {
    &:hover {
        background-color: rgb(202, 20, 20) !important;
    }
}

.a-normal {
    &:hover {
        background-color: rgb(22, 153, 51) !important;
    }
}

.not-found {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__number {
        font-size: 6rem;
        color: rgb(204, 23, 23);
    }
    &__title {
        display: block;
        font-size: 2rem;
        color: rgb(204, 23, 23);
    }
}

.context {
    color: var(--paragraph) !important;
}

.drag__element {
    border: 3px dotted #fff;
}

.img-cancel {
    > i {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        z-index: 1;
        font-size: 1.2rem;
        border: 2px solid #2cb67d;
        background-color: #fff;
        color: #2cb67d;
        border-radius: 20px;
        padding: 6px;
        margin: 6px;
        cursor: pointer;
    }
}

.container {
	width: 100%;
	height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view__empty {
    width: 100%;
    height: 100vh;
}

.wraper {
    margin: 14px 0;
    .block-story__list {
        &--title {
            display: block;
            margin-bottom: 10px;
            font-size: 1.2rem;
            color: #fff;
        }
        .wrap-storys{
            margin: 0 -10px;
            display: flex;
            flex-wrap: wrap;
            .wrap-story {
                width: 160px;
                margin: 10px;                                                                  
            }
        }
    }
    .block-story__media {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: #fff;
    }
}


// side list story

.story-suggest {
    &__title {
        font-size: 1.2rem;
        color: #fff;
        display: block;
        margin-top: 14px;
    }
    &__owl {
        width: 100%;
        height: fit-content;
        margin: 14px 0;
    }
}

// this is scope header

.header {
    width: 80%;
    min-height: 4rem;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        height: 100%;
        margin: 0 1rem;
        a {
            display: flex;
            height: 100%;
            align-items: center;
        }
        &--logo {
            height: 100%;
            width: 4rem; 
            background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &--logo-text {
            color: var(--header-title);
            font-family: 'Pacifico', cursive;
            font-size: var(--logo-size);
        }
    }
    &__right {
        display: flex;
        height: 100%;
        align-items: center;
        &--signin {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--signup {
            margin: 0 1rem;
            &-text {
                color: var(--header-sign);
                font-size: 1.2rem;
            }
        }
        &--loged {
            display: flex;
            cursor: pointer;
            position: relative;
            z-index: 999;
            div {
                margin: 0 0.2rem;
            }
            &-icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @include contentCenter;
                border: 1px solid var(--title-primary);
                overflow: hidden;
                i {
                    font-size: 1rem;
                    color: var(--title-primary);
                }
                img {
                    width: 100%;
                }
            }
            &-name-account {
                height: 30px;
                border: 1px solid var(--title-primary);
                border-radius: 4px;
                @include contentCenter;
                padding: 0 0.2rem;
            }
            &-option {
                display: none;
            }
            &:hover {
                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1rem;
                    background-color: transparent;
                    bottom: 0;
                    transform: translateY(100%);
                }
                > :last-child {
                    width: 100%;
                    display: block;
                    position: absolute;
                    background-color: var(--bg-card);
                    display: flex;
                    flex-direction: column;
                    border: 1px solid var(--title-primary);
                    border-radius: 4px;
                    transform: translateY(50%);
                    top: 0;
                    margin: 0;
                    box-sizing: border-box;
                    a {
                        color: var(--text-primary);
                        font-size: var(--size-paragraph);
                        padding: 1rem;
                        &:hover {
                            background-color: var(--hover-bg-card);
                        }
                    }
                }
            }
        }
    }
}

// this is scope header

// this is scope footer

.footer {
    width: 80%;
    background-color: var(--header);
    display: flex;
    &__left {
        width: 70%;
        margin: 0 1rem;
        &--link {
            height: 4rem;
            width: fit-content;
            display: flex;
            align-items: center;
            &-logo {
                height: 100%;
                width: 4rem; 
                background-image: url('https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png');
                background-size: 90%;
                background-repeat: no-repeat;
                background-position: center;
            }
            &-logo-text {
                color: var(--header-title);
                font-family: 'Pacifico', cursive;
                font-size: var(--logo-size);
            }
        }
        &--describe {
            color: var(--paragraph);
            font-size: var(--size-paragraph);
            padding: 0.5rem 0;
        }
        &--copyright {
            color: var(--paragraph);
            font-size: 0.9rem;
        }
    }
    &__right {
        width: 30%;
        &--title-type {
            display: block;
            font-size: var(--title-size);
            color: var(--header-title);
            margin: 0.75rem 0.75rem;
        }
        &--list {
            display: flex;
            flex-wrap: wrap;
            &-type-story {
                margin: 0.75rem 0.75rem;
                @include btn;
            }
        }
    }
}

@include inputForm_update;
@include checkbox;
@include text_underline;

table, td, th {
    padding: 10px;
    text-align: left;
    border: 1px solid #fff;
    vertical-align: top;
    color: #fff;
}

.box-title {
    font-size: 1.2rem;
    color: #fff;
    padding: 0.6rem 0; 
}

.your-post {
    &__title {
        font-size: 1rem;
        padding: 0.6rem 0; 
        color: #fff;
        font-style: italic;
        a {
            color: #fff;
            &:hover {
                color: #7f5af0;
            }
        }
    }
    &__list {
        width: 100%;
        a {
            margin: 0.6rem 0;
            font-size: 1rem;
            box-sizing: border-box;
            width: fit-content !important; 
        }
        table {
            width: 100%;
            background-color: #3A3C3E;
            box-shadow: 3px 3px 5px 0px #000;
            transition: all 0.2s; 
            border: none;
            border-radius: 10px;
            &:hover {
                box-shadow: 1px 1px 5px 0px #000;
            }
            th {
                text-align: center;
            }
            td, th {
                border: none;
            }
            tr:first-child {
                background-color: #7f5af0;
                th:first-child {
                    background-color: #169933;
                    border-bottom: 1px solid #575858;
                }
            }
            tr:last-child {
                td:first-child {
                    border-bottom-left-radius: 10px;
                }
                td:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
            tr:not(:first-child) {
                transition: all .1s ease;
                &:hover {
                    background-color: #252525;
                }
            }
            tr {
                td:not(:last-child), th:not(:last-child) {
                    border-right: 1px solid #575858;
                }
            }
        }
        &--tool {
            display: flex;
            align-items: center;
            margin-bottom: 0.6rem;
            &-title {
                font-size: 1.2rem;
                color: #fff;
                margin-right: 0.6rem;
            }
            &-click {
                width: fit-content !important;
                margin-left: 0.6rem;
            }
        }
    }
}

.add-your-story {
    &__title {
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        a { 
            color: #fff;
            &:hover {
                color: #644AB5;
            }
        }
    }
    .add-your-story__type {
        width: 100%;
        h1 {
            font-size: 1.2rem;
            color: #fff;
            padding: 0.6rem 0; 
            margin-left: -10px;
        }
    }
    &__context--name--number-chapter {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        flex-shrink: inherit;
        margin-bottom: 1rem;
        div:first-child {
            margin-right: 5rem;
        }
        div {
            width: 50%;
            .formRow--item {
                width: 100%;
            }
        }
    }
    button {
        float: right;
        width: fit-content !important;
    }

}

.edit__your-story {
    &--title {
        color: #fff;
        font-size: 1rem;
        font-style: italic;
        a {
            color: #fff;
            &:hover {
                color: #7f5af0;
            }
        }
    }
    .name__story {
        margin-top: 15px;
        padding: 10px 20px;
        text-align: center;
        background-color: #7f5af0;
        border-radius: 2px;
        font-size: 1rem;
        color: #fff;
    }
    .story__pic {
        display: flex;
        height: 300px;
        margin: 15px 0;
        width: 100%;
        :where(div) {
            transition: box-shadow 0.2s; 
            &:hover {
                box-shadow: 1px 1px 5px 0px #000;
            }
        }
        &--avatar-story {
            width: 250px;
            overflow: hidden;
            margin-right: 15px;
            border-radius: 2px;
            box-shadow: 3px 3px 5px 0px #000;
            position: relative;
            .render__avatar-story {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                overflow-x: scroll;
                overflow-y: clip;
                img {
                    height: 100%;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-drag: none;
                }
            }
            .show__avatar-story {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                overflow: hidden;
                img {
                    height: 100%;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-drag: none;
                }
            }
            button {
                position: absolute;
                top: 50%;
                width: fit-content;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            &:before {
                content: '';
                height: 100%;
                display: block;
                background-color: #3A3C3E;
            }
        }
        &--cover-story {
            width: inherit;
            overflow: hidden;
            border-radius: 2px;
            box-shadow: 3px 3px 5px 0px #000;
            position: relative;
            .render__avatar-story {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                overflow-y: scroll;
                overflow-x: clip;
                img {
                    width: 100%;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-drag: none;
                }
            }
            .show__cover-story {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                overflow: hidden;
                img {
                    width: 100%;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    -o-user-drag: none;
                    user-drag: none;
                }
            }
            button {
                position: absolute;
                top: 50%;
                width: fit-content;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            &:before {
                content: '';
                height: 100%;
                display: block;
                background-color: #3A3C3E;
            }
        }
        .render__avatar-story {
            &::-webkit-scrollbar {
                display: none;
            }
            img {
                cursor: grab;
            }
        }
    }
    .story__decription {
        display: flex;
        color: #fff;
        margin-bottom: 15px;
        :where(div) {
            transition: box-shadow 0.2s; 
            &:hover {
                box-shadow: 1px 1px 5px 0px #000;
            }
        }
        &--information {
            width: 40%;
            padding: 12px;
            margin-right: 15px;
            background-color: #3A3C3E;
            box-shadow: 3px 3px 5px 0px #000;
            border-radius: 2px;
            &:hover {
                h1:before{
                    background-color: #2CB67D;
                }
                p > span {
                    border-color: #2CB67D;
                }
            }
            h1 {
                font-size: 1.2rem;
                position: relative;
                padding-bottom: 10px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #7f5af0;
                    bottom: 0;
                    transition: background-color 0.2s ease;
                }
            }
            p {
                margin: 10px 0;
            }
            &-chapter {
                display: flex;
                align-items: center;
                span {
                    display: block;
                    padding: 5px 8px;
                    border: 1px solid #7f5af0;
                    border-radius: 3px;
                    cursor: pointer;
                    margin-left: 5px;
                    transition: border-color 0.1s ease;
                    &:hover {
                        border-color: #7f5af0 !important;
                    }
                }
            }
            &-type {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                span:not(:first-child) {
                    padding: 5px 8px;
                    border: 1px solid #7f5af0;
                    border-radius: 3px;
                    cursor: pointer;
                    display: block;
                    margin: 5px;
                    transition: border-color 0.1s ease;
                    &:hover {
                        border-color: #7f5af0 !important;
                    }
                }
            }
        }
        &--content {
            width: 60%;
            background-color: #3A3C3E;
            padding: 12px;
            box-shadow: 3px 3px 5px 0px #000;
            border-radius: 2px;
            &:hover{
                :before {
                    background-color: #2CB67D;
                }
            }
            h1 {
                font-size: 1.2rem;
                padding-bottom: 10px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #7f5af0;
                    transition: background-color 0.2s ease;
                    bottom: 0;
                }
            }
            p {
                margin: 10px 0;
            }
        }
    }
    .story__add--chapter {
        width: 100%;
        height: fit-content;
        background-color: #3A3C3E;
        padding: 12px;
        box-shadow: 3px 3px 5px 0px #000;
        border-radius: 2px;
        box-sizing: border-box;
        margin-bottom: 15px;
        &:hover{
            ::before {
                background-color: #2CB67D;
            }
            h1 {
                i::before {
                    background-color: transparent;
                }
            }
        }
        &-title {
            font-size: 1.2rem;
            padding-bottom: 10px;
            position: relative;
            color: #fff;
            cursor: pointer;
            margin-bottom: 15px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #7f5af0;
                transition: background-color 0.2s ease;
                bottom: 0;
            }
            i {
                position: relative;
                transform: translateY(8%);
            }
        }
        &-content-box {
            width: 100%;
            transition: display .2s ease;
            &--title {
                font-size: 1.2rem;
                color: #fff;
                margin-bottom: 10px;
            }
            &--info { 
                display: flex;
                margin-bottom: 15px;
                div {
                    width: 100%;
                }
                div:first-child {
                    margin-right: 20px;
                }
            }
            &--upload {
                margin-bottom: 15px;
                &-drag-file {
                    width: 100%;
                    position: relative;
                    background-color: #242629;
                    &-area {
                        width: 100%;
                        height: 100px;
                        border: 5px dashed #7F5AF0; 
                        display: block;
                        box-sizing: border-box;
                        transition: border-color .2s ease;
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        background-color: transparent;
                        &:hover {
                            border-color: #2CB67D;
                            ~ h1 {
                                color: #2CB67D;
                            }
                        }
                    }
                    &-title {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1rem;
                        color: #7F5AF0;
                        transition: color .2s ease;
                    }
                }
            }
            .add-story__tool {
                width: 100%;
                display: grid;
                grid-template-columns: 3fr 1fr;
                &--list-image {
                    &--title {
                        &-item:first-child {
                            width: 0;
                            div.checkbox {
                                display: inline-block;
                            }
                        }
                        &-item:nth-child(2) {
                            width: 16rem;
                        }
                        &-item {
                            text-align: center;
                            font-size: 1rem;
                            &--text {
                                line-height: initial;
                            }
                        }
                    }
                }
                &--show-image {
                    
                }
            }
        }
    }
    .submit__update--story {
        margin-bottom: 15px;
        height: fit-content;
        overflow: auto;
        button {
            width: fit-content;
            float: right;
        }
    }
}

// this is scope footer
