<footer class="footer">
    <div class="footer__left">
        <a href="/" class="footer__left--link">
            {{!-- comback homepage --}}
            <div class="footer__left--link-logo"></div>
            <span class="footer__left--link-logo-text">MiruStory</span>
        </a>
        <div class="footer__left--describe">
            <p class="footer__left--describe-context">
                MiruStory là trang truyện do người có nickname: YatteMiru
                lập nên, là trang tuyện miễn phí cho tất cả mọi người, rất
                mong mọi người có thể ủng hộ tác giả bằng cách chia sẻ và
                thích nó💖
            </p>
            <div class="footer__left--describe-fanpage"></div>
        </div>
        <hr>
        <span class="footer__left--copyright">Copyright © 2021 by MiruStory</span>
    </div>
    <hr>
    <div class="footer__right">
        <span class="footer__right--title-type">Thể Loại</span>
        <ul class="footer__right--list">
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Chuyển Sinh</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Đam Mỹ</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Manga</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Manhua</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Manhwa</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Ngôn Tình</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Romance</a></li>
            <li class="footer__right--list-type-story"><a href="/" class="btn btn-primary">Xuyên Không</a></li>
        </ul>
    </div>
</footer>