<header class="header">
    <div class="header__left">
        <a href="/" class=""> 
            {{!-- comback homepage --}}
            <div class="header__left--logo"></div> 
            <span class="header__left--logo-text">MiruStory</span>
        </a>
    </div>
    <div class="header__right">
        {{#if IS_LOG}}
            {{> baseComponent/ComponentHeader/loged}}
        {{else}}
            {{> baseComponent/ComponentHeader/log}}
        {{/if}}
    </div>
</header>