<header class="header">
    <div class="header__left">
        <a href="/" class=""> 
            {{!-- comback homepage --}}
            <div class="header__left--logo"></div> 
            <span class="header__left--logo-text">MiruStory</span>
        </a>
    </div>
    <div class="header__right">
        <a href="/views/signin">
            <div class="header__right--signin">
                <span class="header__right--signin-text">Sign In</span>
            </div>
        </a>
        <a href="/views/signup">
            <div class="header__right--signup">
                <span class="header__right--signup-text">Sign Up</span>    
            </div>
        </a>
    </div>
</header>