/* source font by gg */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* source font by gg */
:root {
  --text-primary: #94a1b2;
  --title-primary: #FEFEFD;
  --input-primary: #FEFEFD;
  --text-btn: #FFFFFE;
  --bg-dark: #242629;
  --bg-fg: #242629;
  --bg-card: #16161a;
  --hover-bg-card: #252529;
  --fg-font-input: 1.3rem;
  --fg-font-profile-input: 1rem;
  --fg-font-title: 1.2rem;
  --card-font-input: 1.3rem;
  --card-font-title: 1.8rem;
  --fg-m-tb-input: 0.5rem;
  --fg-p-tb-input: 0.5rem;
  --fg-m-tb-title: 0.5rem;
  --card-font-input: 1.3rem;
  --card-font-title: 1.8rem;
  --card-m-tb-content: 0.5rem;
  --card-m-tb-title: 0.5rem;
  --fg-border: 4px;
  --btn-primary: #7F5AF0;
  --btn-upgrade: #2cb67d;
  --bg-bar: #2cb67d;
  --btn-hover: #7f5af0b4;
  --btn-active: transparent;
  --btn-hover-upgrade: #2cb67dad;
  --btn-active-upgrade: transparent;
  --btn-pd: 0.7rem;
  --btn-border: 4px;
  --word-space: -0.5rem;
  --header: #242629;
  --header-title: #FEFEFD;
  --color-title: #FEFEFD;
  --title-size: 1.2rem;
  --header-sign: #FEFEFD;
  --logo-size: 1.8rem;
  --paragraph: #94a1b2;
  --size-paragraph: 0.8rem;
  --size-name-story: 1rem;
  --color-name-story: #FEFEFD;
  --color-chapter: rgb(231, 0, 0);
  --color-love: rgb(21, 184, 56);
  --color-view: rgb(251, 255, 41);
  --outline-ip: rgb(0, 89, 255); }

.app {
  width: 80%; }
  .app .story-suggest__title {
    display: block;
    font-size: var(--title-size);
    color: var(--color-title);
    margin: 0.5rem 0; }
  .app .story-suggest__owl {
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 0.5rem 0; }
    .app .story-suggest__owl .owl-carousel {
      display: block;
      width: 100%;
      height: 100%; }
      .app .story-suggest__owl .owl-carousel__item {
        width: 12.5rem;
        height: fit-content;
        border: 2px solid var(--paragraph);
        border-radius: 4px;
        background-color: var(--bg-card); }
        .app .story-suggest__owl .owl-carousel__item--link {
          display: block; }
          .app .story-suggest__owl .owl-carousel__item--link-pic {
            height: 15.3125rem;
            overflow: hidden; }
            .app .story-suggest__owl .owl-carousel__item--link-pic img {
              width: 100%; }
          .app .story-suggest__owl .owl-carousel__item--link-name-story {
            display: block;
            font-size: var(--size-name-story);
            color: var(--color-name-story);
            margin: 5px 5px;
            max-width: 100%;
            height: 32px;
            overflow: hidden;
            text-overflow: ellipsis; }
        .app .story-suggest__owl .owl-carousel__item--statistical {
          display: flex;
          justify-content: space-evenly;
          margin: 5px 0; }
          .app .story-suggest__owl .owl-carousel__item--statistical p {
            max-width: 62px;
            color: var(--paragraph);
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-chapter i {
            color: var(--color-chapter); }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-love i {
            color: var(--color-love); }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-view i {
            color: var(--color-view); }
        .app .story-suggest__owl .owl-carousel__item--btn {
          display: flex;
          justify-content: space-evenly;
          margin: 5px 0; }
          .app .story-suggest__owl .owl-carousel__item--btn .btn {
            display: block;
            width: fit-content;
            font-family: 'JetBrains Mono', monospace;
            font-size: var(--size-paragraph);
            font-weight: 400;
            color: var(--text-btn);
            background-color: var(--btn-primary);
            border: none;
            padding: var(--btn-pd);
            border-radius: var(--btn-border);
            white-space: nowrap;
            cursor: pointer; }
            .app .story-suggest__owl .owl-carousel__item--btn .btn:hover {
              background-color: var(--btn-hover); }
            .app .story-suggest__owl .owl-carousel__item--btn .btn:active {
              background-color: var(--btn-active); }
          .app .story-suggest__owl .owl-carousel__item--btn .btn-upgrade {
            background-color: var(--btn-upgrade); }
            .app .story-suggest__owl .owl-carousel__item--btn .btn-upgrade:hover {
              background-color: var(--btn-hover-upgrade); }
            .app .story-suggest__owl .owl-carousel__item--btn .btn-upgrade:active {
              background-color: var(--btn-active-upgrade); }
    .app .story-suggest__owl #owl--directly .owl-prev {
      z-index: 999;
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px); }
    .app .story-suggest__owl #owl--directly .owl-next {
      z-index: 999;
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px); }

.wraper .block-story {
  grid-row: 1;
  grid-column: span 8; }
  .wraper .block-story__title {
    color: var(--color-title);
    font-size: var(--title-size); }
  .wraper .block-story .show-story {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
    .wraper .block-story .show-story__item {
      width: 12.5rem;
      height: fit-content;
      border: 2px solid var(--paragraph);
      border-radius: 4px;
      background-color: var(--bg-card);
      width: 18.63%;
      min-width: 11.875em;
      margin: 5px; }
      .wraper .block-story .show-story__item--link {
        display: block; }
        .wraper .block-story .show-story__item--link-pic {
          height: 15.3125rem;
          overflow: hidden; }
          .wraper .block-story .show-story__item--link-pic img {
            width: 100%; }
          .wraper .block-story .show-story__item--link-pic img:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out; }
        .wraper .block-story .show-story__item--link-name-story {
          display: block;
          font-size: var(--size-name-story);
          color: var(--color-name-story);
          margin: 5px 5px;
          max-width: 100%;
          height: 32px;
          overflow: hidden;
          text-overflow: ellipsis; }
      .wraper .block-story .show-story__item--statistical {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0; }
        .wraper .block-story .show-story__item--statistical p {
          max-width: 62px;
          color: var(--paragraph);
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .wraper .block-story .show-story__item--statistical-number-chapter i {
          color: var(--color-chapter); }
        .wraper .block-story .show-story__item--statistical-number-love i {
          color: var(--color-love); }
        .wraper .block-story .show-story__item--statistical-number-view i {
          color: var(--color-view); }
      .wraper .block-story .show-story__item--btn {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0; }
        .wraper .block-story .show-story__item--btn .btn {
          display: block;
          width: fit-content;
          font-family: 'JetBrains Mono', monospace;
          font-size: var(--size-paragraph);
          font-weight: 400;
          color: var(--text-btn);
          background-color: var(--btn-primary);
          border: none;
          padding: var(--btn-pd);
          border-radius: var(--btn-border);
          white-space: nowrap;
          cursor: pointer; }
          .wraper .block-story .show-story__item--btn .btn:hover {
            background-color: var(--btn-hover); }
          .wraper .block-story .show-story__item--btn .btn:active {
            background-color: var(--btn-active); }
        .wraper .block-story .show-story__item--btn .btn-upgrade {
          background-color: var(--btn-upgrade); }
          .wraper .block-story .show-story__item--btn .btn-upgrade:hover {
            background-color: var(--btn-hover-upgrade); }
          .wraper .block-story .show-story__item--btn .btn-upgrade:active {
            background-color: var(--btn-active-upgrade); }

.wraper .block-story_meadia {
  grid-row: 1;
  grid-column: span 4;
  color: var(--color-title);
  font-size: var(--title-size); }

.form-sign {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-sign form {
    background-color: var(--bg-fg);
    border-radius: var(--fg-border); }
    .form-sign form .form_group {
      width: fit-content;
      min-width: 25rem;
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem; }
      .form-sign form .form_group--title {
        font-size: var(--fg-font-title);
        color: var(--title-primary);
        word-spacing: var(--word-space);
        margin: var(--fg-m-tb-title) 0; }
      .form-sign form .form_group--input {
        font-size: var(--fg-font-input);
        background-color: #16161A;
        outline: none;
        border: none;
        color: var(--input-primary);
        font-family: 'JetBrains Mono', monospace;
        font-weight: 200;
        padding: var(--fg-p-tb-input) 1rem;
        margin: var(--fg-m-tb-input) 0; }
      .form-sign form .form_group--input::placeholder {
        font-size: 1rem;
        font-family: 'JetBrains Mono', monospace;
        color: var(--input-primary); }
    .form-sign form .form_group:not(:first-child) {
      margin-top: -1rem; }
    .form-sign form .btn {
      display: block;
      width: fit-content;
      font-family: 'JetBrains Mono', monospace;
      font-size: var(--size-paragraph);
      font-weight: 400;
      color: var(--text-btn);
      background-color: var(--btn-primary);
      border: none;
      padding: var(--btn-pd);
      border-radius: var(--btn-border);
      white-space: nowrap;
      cursor: pointer; }
      .form-sign form .btn:hover {
        background-color: var(--btn-hover); }
      .form-sign form .btn:active {
        background-color: var(--btn-active); }
    .form-sign form .btn-upgrade {
      background-color: var(--btn-upgrade); }
      .form-sign form .btn-upgrade:hover {
        background-color: var(--btn-hover-upgrade); }
      .form-sign form .btn-upgrade:active {
        background-color: var(--btn-active-upgrade); }

.profile {
  width: 80%; }
  .profile .profile-wrap {
    display: flex;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box; }
    .profile .profile-wrap-col-left {
      width: fit-content; }
      .profile .profile-wrap-col-left .avatar {
        max-width: 12rem;
        height: fit-content;
        border: solid 1px #95989a;
        border-radius: 4px;
        padding: 0.8rem; }
        .profile .profile-wrap-col-left .avatar__box--img {
          width: 100%;
          height: fit-content;
          overflow: hidden;
          border: solid 1px #95989a;
          border-radius: 4px; }
          .profile .profile-wrap-col-left .avatar__box--img img {
            border-radius: 4px;
            width: 100%; }
        .profile .profile-wrap-col-left .avatar__name--user {
          display: block;
          width: auto;
          height: fit-content;
          color: #fff;
          border: solid 1px #95989a;
          text-align: center;
          padding: 10px 0;
          margin: 10px 0;
          font-size: 1.5rem;
          border-radius: 5px; }
          .profile .profile-wrap-col-left .avatar__name--user:hover {
            color: #fd999a; }
        .profile .profile-wrap-col-left .avatar__upgrade--load-file div {
          display: flex;
          border: solid 1px #95989a;
          border-radius: 4px;
          margin-top: 0.5rem;
          padding: 0.5rem;
          align-items: center;
          flex-direction: column;
          text-align: center; }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file div label {
            color: var(--color-title);
            width: 100%;
            padding: 0.3rem 0; }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file div input {
            width: 100%; }
        .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn {
          display: block;
          width: fit-content;
          font-family: 'JetBrains Mono', monospace;
          font-size: var(--size-paragraph);
          font-weight: 400;
          color: var(--text-btn);
          background-color: var(--btn-primary);
          border: none;
          padding: var(--btn-pd);
          border-radius: var(--btn-border);
          white-space: nowrap;
          cursor: pointer; }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn:hover {
            background-color: var(--btn-hover); }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn:active {
            background-color: var(--btn-active); }
        .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn-upgrade {
          background-color: var(--btn-upgrade); }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn-upgrade:hover {
            background-color: var(--btn-hover-upgrade); }
          .profile .profile-wrap-col-left .avatar__upgrade--load-file .btn-upgrade:active {
            background-color: var(--btn-active-upgrade); }
      .profile .profile-wrap-col-left .view__options {
        display: flex;
        background-color: var(--bg-bar);
        flex-direction: column;
        margin: 1rem 0; }
        .profile .profile-wrap-col-left .view__options--item {
          display: block; }
          .profile .profile-wrap-col-left .view__options--item-link {
            display: block;
            padding: 1rem 0;
            color: var(--color-title);
            margin: 0 1rem; }
          .profile .profile-wrap-col-left .view__options--item:hover {
            transition: background-color 0.2s;
            background-color: var(--bg-dark); }
    .profile .profile-wrap-col-right {
      padding-left: 1rem;
      flex: 1; }
  .profile .btn {
    display: block;
    width: fit-content;
    font-family: 'JetBrains Mono', monospace;
    font-size: var(--size-paragraph);
    font-weight: 400;
    color: var(--text-btn);
    background-color: var(--btn-primary);
    border: none;
    padding: var(--btn-pd);
    border-radius: var(--btn-border);
    white-space: nowrap;
    cursor: pointer; }
    .profile .btn:hover {
      background-color: var(--btn-hover); }
    .profile .btn:active {
      background-color: var(--btn-active); }
  .profile .btn-upgrade {
    background-color: var(--btn-upgrade); }
    .profile .btn-upgrade:hover {
      background-color: var(--btn-hover-upgrade); }
    .profile .btn-upgrade:active {
      background-color: var(--btn-active-upgrade); }
  .profile .btn {
    width: 100%; }

.change-password__title {
  font-size: var(--title-size);
  color: var(--color-title); }

.change-password__form .form_group {
  width: fit-content;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem; }
  .change-password__form .form_group--title {
    font-size: var(--fg-font-title);
    color: var(--title-primary);
    word-spacing: var(--word-space);
    margin: var(--fg-m-tb-title) 0; }
  .change-password__form .form_group--input {
    font-size: var(--fg-font-input);
    background-color: #16161A;
    outline: none;
    border: none;
    color: var(--input-primary);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    padding: var(--fg-p-tb-input) 1rem;
    margin: var(--fg-m-tb-input) 0; }
  .change-password__form .form_group--input::placeholder {
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
    color: var(--input-primary); }

.change-password__form .form_group:not(:first-child) {
  margin-top: -1rem; }

.change-password__form .btn {
  display: block;
  width: fit-content;
  font-family: 'JetBrains Mono', monospace;
  font-size: var(--size-paragraph);
  font-weight: 400;
  color: var(--text-btn);
  background-color: var(--btn-primary);
  border: none;
  padding: var(--btn-pd);
  border-radius: var(--btn-border);
  white-space: nowrap;
  cursor: pointer; }
  .change-password__form .btn:hover {
    background-color: var(--btn-hover); }
  .change-password__form .btn:active {
    background-color: var(--btn-active); }

.change-password__form .btn-upgrade {
  background-color: var(--btn-upgrade); }
  .change-password__form .btn-upgrade:hover {
    background-color: var(--btn-hover-upgrade); }
  .change-password__form .btn-upgrade:active {
    background-color: var(--btn-active-upgrade); }

.about-user__title {
  font-size: var(--title-size);
  color: var(--color-title); }

.about-user__info .form_group {
  width: fit-content;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem; }
  .about-user__info .form_group--title {
    font-size: var(--fg-font-title);
    color: var(--title-primary);
    word-spacing: var(--word-space);
    margin: var(--fg-m-tb-title) 0; }
  .about-user__info .form_group--input {
    font-size: var(--fg-font-input);
    background-color: #16161A;
    outline: none;
    border: none;
    color: var(--input-primary);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    padding: var(--fg-p-tb-input) 1rem;
    margin: var(--fg-m-tb-input) 0; }
  .about-user__info .form_group--input::placeholder {
    font-size: 1rem;
    font-family: 'JetBrains Mono', monospace;
    color: var(--input-primary); }

.about-user__info .form_group:not(:first-child) {
  margin-top: -1rem; }

.about-user__info--item {
  width: 100%; }
  .about-user__info--item span {
    color: var(--color-title);
    display: block;
    padding: 0.6rem 0; }
  .about-user__info--item input {
    width: 100%;
    height: 1.4rem;
    border-radius: 4px;
    font-size: var(--fg-font-profile-input);
    background-color: #16161A;
    outline: none;
    border: none;
    color: var(--input-primary);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    padding: var(--fg-p-tb-input) 1rem;
    margin: var(--fg-m-tb-input) 0; }

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700; }
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer; }
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease; }

.file-upload-content {
  display: none;
  text-align: center; }

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer; }

.image-upload-wrap {
  border: 4px dashed #1FB264;
  position: relative; }
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff; }
    .image-upload-wrap:hover .drag-text h3 {
      color: #fff; }

.image-dropping {
  background-color: #1FB264;
  border: 4px dashed #ffffff; }

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222; }

.drag-text {
  text-align: center; }
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0; }

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px; }

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700; }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer; }
  .remove-image:active {
    border: 0;
    transition: all .2s ease; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  background-color: var(--bg-dark);
  user-select: none; }

a {
  text-decoration: none; }

.context {
  color: var(--paragraph) !important; }

.container {
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.view__empty {
  width: 100%;
  height: 100vh; }

.wraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.header {
  width: 80%;
  min-height: 4rem;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__left {
    height: 100%;
    margin: 0 1rem; }
    .header__left a {
      display: flex;
      height: 100%;
      align-items: center; }
    .header__left--logo {
      height: 100%;
      width: 4rem;
      background-image: url("https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center; }
    .header__left--logo-text {
      color: var(--header-title);
      font-family: 'Pacifico', cursive;
      font-size: var(--logo-size); }
  .header__right {
    display: flex;
    height: 100%;
    align-items: center; }
    .header__right--signin {
      margin: 0 1rem; }
      .header__right--signin-text {
        color: var(--header-sign);
        font-size: 1.2rem; }
    .header__right--signup {
      margin: 0 1rem; }
      .header__right--signup-text {
        color: var(--header-sign);
        font-size: 1.2rem; }
    .header__right--loged {
      display: flex;
      cursor: pointer;
      position: relative;
      z-index: 999; }
      .header__right--loged div {
        margin: 0 0.2rem; }
      .header__right--loged-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--title-primary);
        overflow: hidden; }
        .header__right--loged-icon i {
          font-size: 1rem;
          color: var(--title-primary); }
        .header__right--loged-icon img {
          width: 100%; }
      .header__right--loged-name-account {
        height: 30px;
        border: 1px solid var(--title-primary);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.2rem; }
      .header__right--loged-option {
        display: none; }
      .header__right--loged:hover::after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 1rem;
        background-color: transparent;
        bottom: 0;
        transform: translateY(100%); }
      .header__right--loged:hover > :last-child {
        width: 100%;
        display: block;
        position: absolute;
        background-color: var(--bg-card);
        display: flex;
        flex-direction: column;
        border: 1px solid var(--title-primary);
        border-radius: 4px;
        transform: translateY(50%);
        top: 0;
        margin: 0;
        box-sizing: border-box; }
        .header__right--loged:hover > :last-child a {
          color: var(--text-primary);
          font-size: var(--size-paragraph);
          padding: 1rem; }
          .header__right--loged:hover > :last-child a:hover {
            background-color: var(--hover-bg-card); }

.footer {
  width: 80%;
  background-color: var(--header);
  display: flex; }
  .footer__left {
    width: 70%;
    margin: 0 1rem; }
    .footer__left--link {
      height: 4rem;
      width: fit-content;
      display: flex;
      align-items: center; }
      .footer__left--link-logo {
        height: 100%;
        width: 4rem;
        background-image: url("https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center; }
      .footer__left--link-logo-text {
        color: var(--header-title);
        font-family: 'Pacifico', cursive;
        font-size: var(--logo-size); }
    .footer__left--describe {
      color: var(--paragraph);
      font-size: var(--size-paragraph);
      padding: 0.5rem 0; }
    .footer__left--copyright {
      color: var(--paragraph);
      font-size: 0.9rem; }
  .footer__right {
    width: 30%; }
    .footer__right--title-type {
      display: block;
      font-size: var(--title-size);
      color: var(--header-title);
      margin: 0.75rem 0.75rem; }
    .footer__right--list {
      display: flex;
      flex-wrap: wrap; }
      .footer__right--list-type-story {
        margin: 0.75rem 0.75rem; }
        .footer__right--list-type-story .btn {
          display: block;
          width: fit-content;
          font-family: 'JetBrains Mono', monospace;
          font-size: var(--size-paragraph);
          font-weight: 400;
          color: var(--text-btn);
          background-color: var(--btn-primary);
          border: none;
          padding: var(--btn-pd);
          border-radius: var(--btn-border);
          white-space: nowrap;
          cursor: pointer; }
          .footer__right--list-type-story .btn:hover {
            background-color: var(--btn-hover); }
          .footer__right--list-type-story .btn:active {
            background-color: var(--btn-active); }
        .footer__right--list-type-story .btn-upgrade {
          background-color: var(--btn-upgrade); }
          .footer__right--list-type-story .btn-upgrade:hover {
            background-color: var(--btn-hover-upgrade); }
          .footer__right--list-type-story .btn-upgrade:active {
            background-color: var(--btn-active-upgrade); }

.formRow {
  position: relative;
  width: 100%; }
  .formRow--item {
    display: block;
    width: 100%; }
  .formRow > select {
    width: 100%; }
  .formRow--input {
    position: relative;
    padding: 15px 20px 11px;
    width: 100%;
    outline: none;
    border: solid 1px #95989a;
    border-radius: 4px;
    color: #95989a;
    letter-spacing: .2px;
    font-weight: 400;
    font-size: 16px;
    resize: none;
    transition: all .2s ease;
    background-color: #242629;
    box-sizing: border-box; }
    .formRow--input-wrapper {
      position: relative;
      display: block;
      width: 100%; }
      .formRow--input-wrapper.active .placeholder {
        top: -5px;
        background-color: #242629;
        color: #fd999a;
        text-transform: uppercase;
        letter-spacing: .8px;
        font-size: 11px;
        line-height: 14px;
        transform: translateY(0); }
      .formRow--input-wrapper.active .formRow--input:not(:focus):not(:hover) ~ .placeholder {
        color: #fec8c9; }
      .formRow--input-wrapper .formRow--input:focus, .formRow--input-wrapper .formRow--input:hover {
        border-color: #fd999a; }
  .formRow .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    padding: 0 10px;
    color: #95989a;
    white-space: nowrap;
    letter-spacing: .2px;
    font-weight: normal;
    font-size: 16px;
    transition: all, .2s;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none; }

ul.list-checkbox {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  list-style: none;
  padding: 10px; }
  ul.list-checkbox li {
    display: inline; }
    ul.list-checkbox li label {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.9);
      border: 2px solid rgba(139, 139, 139, 0.3);
      color: #000;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
      padding: 8px 12px;
      cursor: pointer; }
      ul.list-checkbox li label::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 12px;
        padding: 2px 6px 2px 2px;
        content: "\f067";
        transition: transform .3s ease-in-out; }
    ul.list-checkbox li input[type="checkbox"] {
      display: absolute;
      position: absolute;
      opacity: 0; }
      ul.list-checkbox li input[type="checkbox"]:checked + label {
        border: 2px solid #1bdbf8;
        background-color: #12bbd4;
        color: #fff;
        transition: all .2s; }
        ul.list-checkbox li input[type="checkbox"]:checked + label::before {
          content: "\f00c";
          transform: rotate(-360deg);
          transition: transform .3s ease-in-out; }
      ul.list-checkbox li input[type="checkbox"]:focus + label {
        border: 2px solid #e9a1ff; }

/*effect-underline*/
.effect-underline {
  width: fit-content;
  position: relative; }

a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1); }

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

table, td, th {
  padding: 10px;
  text-align: left;
  border: 1px solid #fff;
  vertical-align: top;
  color: #fff; }

.box-title {
  font-size: 1.2rem;
  color: #fff;
  padding: 0.6rem 0; }

.your-post a {
  color: #fff; }

.your-post__title {
  font-size: 1.2rem;
  color: #fff;
  padding: 0.6rem 0; }

.your-post__list {
  width: 100%; }
  .your-post__list a {
    display: block;
    margin: 0.6rem 0;
    font-size: 1rem; }
  .your-post__list table {
    width: 100%; }
    .your-post__list table tr:not(:first-child) {
      cursor: pointer;
      transition: all .1s ease; }
      .your-post__list table tr:not(:first-child):hover {
        background-color: #2CB67D; }

.add-your-story {
  color: #fff; }
  .add-your-story a {
    color: #fff; }
    .add-your-story a:hover {
      color: #fd999a; }
  .add-your-story .add-your-story__type {
    width: 100%; }
    .add-your-story .add-your-story__type h1 {
      font-size: 1.2rem;
      color: #fff;
      padding: 0.6rem 0;
      margin-left: -10px; }
  .add-your-story__context--name--number-chapter {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    flex-shrink: inherit; }
    .add-your-story__context--name--number-chapter div:first-child {
      margin-right: 5rem; }
    .add-your-story__context--name--number-chapter div {
      width: 50%; }
      .add-your-story__context--name--number-chapter div .formRow--item {
        width: 100%; }
  .add-your-story .upload-image-story .box__show--image-loaded {
    border: 4px dashed #1FB264;
    margin-top: 14px;
    display: flex;
    padding: 10px;
    position: relative; }
    .add-your-story .upload-image-story .box__show--image-loaded div {
      flex: 1; }
    .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left {
      margin-right: 10px; }
      .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left div {
        position: relative; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left div::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: #fff;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
      .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story {
        font-size: 14px;
        padding: 0.8rem 0.2rem;
        cursor: pointer;
        display: flex; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story:hover {
          background-color: #1FB264 !important; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story span {
          display: block;
          font-size: 14px; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--name {
          width: 12rem;
          text-overflow: ellipsis;
          overflow: hidden; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--size {
          width: 10rem; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--order {
          width: calc(100% - 22rem); }
      .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--heading {
        width: 100%;
        display: flex;
        font-size: 14px;
        cursor: pointer;
        box-sizing: border-box;
        position: relative; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--heading span {
          line-height: 2.5;
          display: block; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--heading-name {
          width: 12rem; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--heading-size {
          width: 10rem; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--left .image__story--heading-order {
          width: calc(100% - 22rem); }
    .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--right {
      max-width: 20rem;
      height: 25rem;
      position: sticky;
      top: 10px; }
      .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--right .view-image {
        height: 100%;
        overflow: hidden; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--right .view-image img {
          max-width: 100%;
          border-radius: 5px;
          border: 1px solid #fff;
          box-sizing: border-box;
          position: absolute; }
        .add-your-story .upload-image-story .box__show--image-loaded .box__show--image-loaded--right .view-image #len-zoom {
          max-width: 100%;
          position: absolute;
          border: 1px solid #fff;
          border-radius: 5px; }

.edit__your-story--title {
  color: #fff; }
  .edit__your-story--title a {
    color: #fff; }
    .edit__your-story--title a:hover {
      color: #fd999a; }

.edit__your-story .name__story {
  margin-top: 15px;
  padding: 10px 20px;
  text-align: center;
  background-color: #2CB67D;
  border-radius: 2px;
  font-size: 1rem; }

.edit__your-story .story__pic {
  display: flex;
  height: 300px;
  margin: 15px 0;
  width: 100%; }
  .edit__your-story .story__pic--avatar-story {
    width: 250px;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 2px;
    border: 1px solid #fff; }
    .edit__your-story .story__pic--avatar-story img {
      position: absolute;
      width: 100%; }
  .edit__your-story .story__pic--cover-story {
    width: inherit;
    overflow: hidden;
    border-radius: 2px;
    border: 1px solid #fff; }
    .edit__your-story .story__pic--cover-story img {
      width: 100%; }

.edit__your-story .story__decription {
  display: flex;
  color: #fff; }
  .edit__your-story .story__decription--information h1 {
    font-size: 1.2rem; }
  .edit__your-story .story__decription--information p {
    margin: 10px 0; }
  .edit__your-story .story__decription--information-chapter {
    display: flex;
    align-items: center; }
    .edit__your-story .story__decription--information-chapter span {
      display: block;
      padding: 5px 8px;
      border: 1px solid #fff;
      border-radius: 3px;
      cursor: pointer;
      margin-left: 5px; }
  .edit__your-story .story__decription--information-type {
    display: flex;
    align-items: center; }
    .edit__your-story .story__decription--information-type span:not(:first-child) {
      padding: 5px 8px;
      border: 1px solid #fff;
      border-radius: 3px;
      cursor: pointer;
      display: block;
      margin-left: 5px; }
  .edit__your-story .story__decription--content h1 {
    font-size: 1.2rem; }
  .edit__your-story .story__decription--content p {
    margin: 10px 0; }
