/* source font by gg */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* source font by gg */
:root {
  --text-primary: #94a1b2;
  --title-primary: #FEFEFD;
  --input-primary: #FEFEFD;
  --text-btn: #FFFFFE;
  --bg-dark: #16161A;
  --bg-fg: #242629;
  --bg-card: #242629;
  --fg-font-input: 1.3rem;
  --fg-font-title: 1.2rem;
  --card-font-input: 1.3rem;
  --card-font-title: 1.8rem;
  --fg-m-tb-input: 0.5rem;
  --fg-p-tb-input: 0.5rem;
  --fg-m-tb-title: 0.5rem;
  --card-font-input: 1.3rem;
  --card-font-title: 1.8rem;
  --card-m-tb-content: 0.5rem;
  --card-m-tb-title: 0.5rem;
  --fg-border: 4px;
  --btn-primary: #7F5AF0;
  --btn-hover: #7f5af0b4;
  --btn-active: transparent;
  --btn-pd: 0.7rem;
  --btn-border: 4px;
  --word-space: -0.5rem;
  --header: #16161a;
  --header-title: #FEFEFD;
  --color-title: #FEFEFD;
  --title-size: 1.2rem;
  --header-sign: #FEFEFD;
  --logo-size: 1.8rem;
  --paragraph: #94a1b2;
  --size-paragraph: 0.8rem;
  --size-name-story: 1rem;
  --color-name-story: #FEFEFD;
  --color-chapter: rgb(231, 0, 0);
  --color-love: rgb(21, 184, 56);
  --color-view: rgb(251, 255, 41); }

.app {
  width: 80%; }
  .app .story-suggest__title {
    display: block;
    font-size: var(--title-size);
    color: var(--color-title);
    margin: 0.5rem 0; }
  .app .story-suggest__owl {
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 0.5rem 0; }
    .app .story-suggest__owl .owl-carousel {
      display: block;
      width: 100%;
      height: 100%; }
      .app .story-suggest__owl .owl-carousel__item {
        width: 12.5rem;
        height: fit-content;
        border: 2px solid var(--paragraph);
        border-radius: 4px; }
        .app .story-suggest__owl .owl-carousel__item--link {
          display: block; }
          .app .story-suggest__owl .owl-carousel__item--link-pic {
            height: 15.3125rem;
            overflow: hidden; }
            .app .story-suggest__owl .owl-carousel__item--link-pic img {
              width: 100%; }
          .app .story-suggest__owl .owl-carousel__item--link-name-story {
            display: block;
            font-size: var(--size-name-story);
            color: var(--color-name-story);
            margin: 5px 5px;
            max-width: 100%;
            height: 32px;
            overflow: hidden;
            text-overflow: ellipsis; }
        .app .story-suggest__owl .owl-carousel__item--statistical {
          display: flex;
          justify-content: space-evenly;
          margin: 5px 0; }
          .app .story-suggest__owl .owl-carousel__item--statistical p {
            max-width: 62px;
            color: var(--paragraph);
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-chapter i {
            color: var(--color-chapter); }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-love i {
            color: var(--color-love); }
          .app .story-suggest__owl .owl-carousel__item--statistical-number-view i {
            color: var(--color-view); }
        .app .story-suggest__owl .owl-carousel__item--btn {
          display: flex;
          justify-content: space-evenly;
          margin: 5px 0; }
          .app .story-suggest__owl .owl-carousel__item--btn .btn {
            display: block;
            width: fit-content;
            font-family: 'JetBrains Mono', monospace;
            font-size: var(--size-paragraph);
            font-weight: 400;
            color: var(--text-btn);
            background-color: var(--btn-primary);
            border: none;
            padding: var(--btn-pd);
            border-radius: var(--btn-border);
            white-space: nowrap;
            cursor: pointer; }
            .app .story-suggest__owl .owl-carousel__item--btn .btn:hover {
              background-color: var(--btn-hover); }
            .app .story-suggest__owl .owl-carousel__item--btn .btn:active {
              background-color: var(--btn-active); }
    .app .story-suggest__owl #owl--directly .owl-prev {
      z-index: 999;
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px); }
    .app .story-suggest__owl #owl--directly .owl-next {
      z-index: 999;
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(5px); }

.wraper .block-story {
  grid-row: 1;
  grid-column: span 8; }
  .wraper .block-story__title {
    color: var(--color-title);
    font-size: var(--title-size); }
  .wraper .block-story .show-story {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
    .wraper .block-story .show-story__item {
      width: 12.5rem;
      height: fit-content;
      border: 2px solid var(--paragraph);
      border-radius: 4px;
      width: 18.63%;
      min-width: 11.875em;
      margin: 5px; }
      .wraper .block-story .show-story__item--link {
        display: block; }
        .wraper .block-story .show-story__item--link-pic {
          height: 15.3125rem;
          overflow: hidden; }
          .wraper .block-story .show-story__item--link-pic img {
            width: 100%; }
          .wraper .block-story .show-story__item--link-pic img:hover {
            transform: scale(1.1);
            transition: transform 0.2s ease-in-out; }
        .wraper .block-story .show-story__item--link-name-story {
          display: block;
          font-size: var(--size-name-story);
          color: var(--color-name-story);
          margin: 5px 5px;
          max-width: 100%;
          height: 32px;
          overflow: hidden;
          text-overflow: ellipsis; }
      .wraper .block-story .show-story__item--statistical {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0; }
        .wraper .block-story .show-story__item--statistical p {
          max-width: 62px;
          color: var(--paragraph);
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .wraper .block-story .show-story__item--statistical-number-chapter i {
          color: var(--color-chapter); }
        .wraper .block-story .show-story__item--statistical-number-love i {
          color: var(--color-love); }
        .wraper .block-story .show-story__item--statistical-number-view i {
          color: var(--color-view); }
      .wraper .block-story .show-story__item--btn {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0; }
        .wraper .block-story .show-story__item--btn .btn {
          display: block;
          width: fit-content;
          font-family: 'JetBrains Mono', monospace;
          font-size: var(--size-paragraph);
          font-weight: 400;
          color: var(--text-btn);
          background-color: var(--btn-primary);
          border: none;
          padding: var(--btn-pd);
          border-radius: var(--btn-border);
          white-space: nowrap;
          cursor: pointer; }
          .wraper .block-story .show-story__item--btn .btn:hover {
            background-color: var(--btn-hover); }
          .wraper .block-story .show-story__item--btn .btn:active {
            background-color: var(--btn-active); }

.wraper .block-story_meadia {
  grid-row: 1;
  grid-column: span 4;
  color: var(--color-title);
  font-size: var(--title-size); }

.form-sign {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-sign form {
    background-color: var(--bg-fg);
    border-radius: var(--fg-border); }
    .form-sign form .form_group {
      width: fit-content;
      min-width: 25rem;
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem; }
      .form-sign form .form_group--title {
        font-size: var(--fg-font-title);
        color: var(--title-primary);
        word-spacing: var(--word-space);
        margin: var(--fg-m-tb-title) 0; }
      .form-sign form .form_group--input {
        font-size: var(--fg-font-input);
        background-color: #16161A;
        outline: none;
        border: none;
        color: var(--input-primary);
        font-family: 'JetBrains Mono', monospace;
        font-weight: 200;
        padding: var(--fg-p-tb-input) 1rem;
        margin: var(--fg-m-tb-input) 0; }
      .form-sign form .form_group--input::placeholder {
        font-size: 1rem;
        font-family: 'JetBrains Mono', monospace;
        color: var(--input-primary); }
    .form-sign form .form_group:not(:first-child) {
      margin-top: -1rem; }
    .form-sign form .btn {
      display: block;
      width: fit-content;
      font-family: 'JetBrains Mono', monospace;
      font-size: var(--size-paragraph);
      font-weight: 400;
      color: var(--text-btn);
      background-color: var(--btn-primary);
      border: none;
      padding: var(--btn-pd);
      border-radius: var(--btn-border);
      white-space: nowrap;
      cursor: pointer; }
      .form-sign form .btn:hover {
        background-color: var(--btn-hover); }
      .form-sign form .btn:active {
        background-color: var(--btn-active); }

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--bg-dark);
  user-select: none; }

a {
  text-decoration: none; }

.context {
  color: var(--paragraph) !important; }

.container {
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.wraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.header {
  width: 80%;
  min-height: 4rem;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__left {
    height: 100%;
    margin: 0 1rem; }
    .header__left a {
      display: flex;
      height: 100%;
      align-items: center; }
    .header__left--logo {
      height: 100%;
      width: 4rem;
      background-image: url("https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center; }
    .header__left--logo-text {
      color: var(--header-title);
      font-family: 'Pacifico', cursive;
      font-size: var(--logo-size); }
  .header__right {
    display: flex;
    height: 100%;
    align-items: center; }
    .header__right--signin {
      margin: 0 1rem; }
      .header__right--signin-text {
        color: var(--header-sign);
        font-size: 1.2rem; }
    .header__right--signup {
      margin: 0 1rem; }
      .header__right--signup-text {
        color: var(--header-sign);
        font-size: 1.2rem; }

.footer {
  width: 80%;
  background-color: var(--header);
  display: flex; }
  .footer__left {
    width: 70%;
    margin: 0 1rem; }
    .footer__left--link {
      height: 4rem;
      width: fit-content;
      display: flex;
      align-items: center; }
      .footer__left--link-logo {
        height: 100%;
        width: 4rem;
        background-image: url("https://i.pinimg.com/originals/9e/ec/37/9eec37f0efbc0f8044645476e284e741.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center; }
      .footer__left--link-logo-text {
        color: var(--header-title);
        font-family: 'Pacifico', cursive;
        font-size: var(--logo-size); }
    .footer__left--describe {
      color: var(--paragraph);
      font-size: var(--size-paragraph);
      padding: 0.5rem 0; }
    .footer__left--copyright {
      color: var(--paragraph);
      font-size: 0.9rem; }
  .footer__right {
    width: 30%; }
    .footer__right--title-type {
      display: block;
      font-size: var(--title-size);
      color: var(--header-title);
      margin: 0.75rem 0.75rem; }
    .footer__right--list {
      display: flex;
      flex-wrap: wrap; }
      .footer__right--list-type-story {
        margin: 0.75rem 0.75rem; }
        .footer__right--list-type-story .btn {
          display: block;
          width: fit-content;
          font-family: 'JetBrains Mono', monospace;
          font-size: var(--size-paragraph);
          font-weight: 400;
          color: var(--text-btn);
          background-color: var(--btn-primary);
          border: none;
          padding: var(--btn-pd);
          border-radius: var(--btn-border);
          white-space: nowrap;
          cursor: pointer; }
          .footer__right--list-type-story .btn:hover {
            background-color: var(--btn-hover); }
          .footer__right--list-type-story .btn:active {
            background-color: var(--btn-active); }
