<div class="story">
    <span class="story__chapter">124</span>
    <div class="story__box">
        <img class="story__box--image" src="https://animehay.tv/uploads/images/2021/07/xuan-thu-phong-than-thumbnail-1626138514.jpg" alt="Tuyệt Võ Thần">
    </div>
    <span class="story__rate">9.2</span>
    <span class="story__name">Tuyệt Võ Thần</span>
</div>