.profile {
    width: 80%;
    .profile-wrap {
        display: flex;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
        &-col-left {
            width: fit-content;
            .avatar {
                max-width: 12rem;
                height: fit-content;
                border: solid 1px #7f5af0;
                border-radius: 2px;
                padding: 0.8rem;
                background-color: #3A3C3E;
                &__box--img {
                    width: 100%;
                    overflow: hidden;
                    height: fit-content;
                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                    }
                    img {
                        border-radius: 2px;
                        width: 100%;
                        -webkit-user-drag: none;
                        -webkit-user-select: none;
                    }
                    &:last-child {
                        margin-top: 10px;
                    }
                }
                &__name--user {
                    display: block;
                    width: auto;
                    height: fit-content;
                    color: #fff;
                    border: solid 1px #7f5af0;
                    text-align: center;
                    padding: 10px 0;
                    margin-top: 10px;
                    font-size: 1.5rem;
                    border-radius: 2px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                    &:hover {
                        color: #ffffffb4;
                    }
                }
                &__upgrade {
                    display: flex;
                    margin-top: 0.5rem;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    label {
                        color: var(--color-title);
                        width: 100% !important;
                        padding: 0.3rem 0;
                        box-sizing: border-box
                    }
                    @include btn;
                }
            }
            .view__options {
                display: flex;
                background-color: #7f5af0;
                flex-direction: column;
                margin: 1rem 0;
                border-radius: 5px;
                &--item {
                    display: block;
                    transition: background-color 0.2s;
                    &-link {
                        display: block;
                        padding: 1rem 0;
                        color: var(--color-title);
                        margin: 0 1rem;
                    }
                    &:hover {
                        &:first-child {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        &:last-child {
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                        background-color: #362568;
                    }
                }
            }
        }
        &-col-right {
            padding-left: 1rem;
            flex: 1;
        }
    }
    @include btn;
    .btn {
        width: 100%;
    }
}