<div class="add-your-story">
    <h1 class="add-your-story__title"><a href="/user/your-storys">Truyện của bạn
        <i class="fas fa-book"></i>
    </a> / <a href="/user/add-your-storys">Thêm truyện
        <i class="fas fa-plus"></i>
    </a></h1>
    <ul class="add-your-story__type list-checkbox">
        <h1 class="set-type-story box-title">Thể loại truyện</h1>
    </ul>
    <h1 class="box-title">Thông tin chi tiết</h1>
    <div class="add-your-story__context--name--number-chapter">
        <div class="form_group">
            <fieldset class="formRow">
                <div class="formRow--item">
                    <label for="name-story" class="formRow--input-wrapper js-inputWrapper">
                        <input type="text" class="formRow--input js-input" id="name-story" name="name-story"
                            placeholder="Tên">
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="form_group">
            <fieldset class="formRow">
                <div class="formRow--item">
                    <label for="number-chapter" class="formRow--input-wrapper js-inputWrapper">
                        <input type="text" class="formRow--input js-input" id="number-chapter" name="number-chapter"
                            placeholder="Chapter hiện tại" value="0" readonly>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
    <button class="submit-story btn">Đăng truyện!</button>
</div>