<div class="add-your-story">
    <h1 class="add-your-story__title"><a href="/user/your-storys">Your Story</a> >> <a href="/user/add-your-storys">Add
            Your Story</a></h1>
    <ul class="add-your-story__type list-checkbox">
        <h1 class="set-type-story box-title">Option Type Story</h1>
    </ul>
    <h1 class="box-title">Information detail</h1>
    <div class="add-your-story__context--name--number-chapter">
        <div class="form_group">
            <fieldset class="formRow">
                <div class="formRow--item">
                    <label for="name-story" class="formRow--input-wrapper js-inputWrapper">
                        <input type="text" class="formRow--input js-input" id="name-story" name="name-story"
                            placeholder="Name">
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="form_group">
            <fieldset class="formRow">
                <div class="formRow--item">
                    <label for="number-chapter" class="formRow--input-wrapper js-inputWrapper">
                        <input type="text" class="formRow--input js-input" id="number-chapter" name="number-chapter"
                            placeholder="Number Chapter">
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="upload-image-story">
        <h1 class="box-title">Upload image storys</h1>
        <div class="box__load-image">
            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" id="mutifile-upload-story" type='file' multiple accept=".jpg, .png"/>
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" class="remove-image">
                            Remove
                            <span class="image-title">Uploaded Image</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box__show--image-loaded">
            <div class="box__show--image-loaded--left">
                <div class="image__story--heading">
                    <span class="image__story--heading-name">Name
                        {{!-- <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i> --}}
                    </span>
                    <span class="image__story--heading-size">Image Size
                        {{!-- <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i> --}}
                    </span>
                    
                    <span class="image__story--heading-order" id="sort-list-image">Order
                        {{!-- <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i> --}}
                    </span>
                </div>
                <div class="image__story--content">

                </div>
            </div>
            <div class="box__show--image-loaded--right">
                {{!-- <img src="https://images.unsplash.com/photo-1625153563178-2538e42b3051?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=673&q=80" alt=""> --}}
            </div>
        </div>
    </div>
</div>