<div class="edit__your-story">
    <h1 class="edit__your-story--title"><a href="">Your Story</a> >> <a href="">Edit</a></h1>
    <h1 class="name__story">{{ story.name }}</h1>
    <div class="story__pic">
        <div class="story__pic--avatar-story">
            <img src="" alt="">
        </div>
        <div class="story__pic--cover-story">
            <img src="" alt="">
        </div>
    </div>
    <div class="story__decription">
        <div class="story__decription--information">
            <span class="story__decription--information-chapter"></span>
            <span class="story__decription--information-type"></span>
        </div>
        <div class="story__decription--content">
            <span class="story__decription--content-box"></span>
        </div>
    </div>
</div>