<div class="form-signin form-sign">
    <form action="/api/signin" method="POST" id="sign-in"> 
    {{!-- id = sign-in --}}
        <div class="form_group">
            <label class="form_group--title" for="account-name">Account Name</label>
            <input class="form_group--input" type="text" id="account-name" name="accountName" placeholder="Insert account name...!" />
        </div>
        <div class="form_group">
            <label class="form_group--title" for="password">Password</label>
            <input class="form_group--input" type="password" id="password" name="password" placeholder="Insert your password...!" />
        </div>
        <div class="form_group">
            <button class="btn">Sign In</button>
        </div>
    </form>
</div>