<div class="form-signup form-sign">
    <form action="/check/signup" method="POST">
        <div class="form_group">
            <label class="form_group--title" for="account-name">Account Name</label>
            <input class="form_group--input" type="text" id="account-name" name="accountName" placeholder="Insert account name...!" />
        </div>
        <div class="form_group">
            <label class="form_group--title" for="password">Password</label>
            <input class="form_group--input" type="password" id="password" name="password" placeholder="Insert your password...!" />
        </div>
        <div class="form_group">
            <label class="form_group--title" for="password-confirm">Password Confirm</label>
            <input class="form_group--input" type="password" id="password-confirm" name="passwordConfirm" placeholder="Confirm your password...!" />
        </div>
        <div class="form_group">
            <button class="btn">Sign Up</button>
        </div>
    </form>
</div>