<div class="wraper">
    <div class="body-block block-story__list">
        <span class="block-story__title">Danh Sách Truyện!</span>
    </div>
    <div class="body-block block-story__meadia">Ranking Story</div>
</div>