<div class="wraper">
    <div class="body-block block-story">
        <span class="block-story__title">Danh Sách Truyện!</span>
        {{> Components/ComponentBodyStory/ListStory}}
    </div>
    <div class="body-block block-story_meadia">Ranking Story</div>
</div>