<div class="story-suggest">
  <span class="story-suggest__title">Truyện Cho Bạn!</span>
  <div class="story-suggest__owl">
    <div id="owl--directly"></div>
    <ul class="owl-carousel">
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/rat-yeu-em.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/tho-phi.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/ke-hoach-hoan-luong-naraku.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/13.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/rat-yeu-em.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2020/11/dai-minh-tinh-va-chang-ve-si.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/dai-boss-dung-noi-doi.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/vo-oi-dung-tron-nua.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/day-bao-dai-tieu-thu.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/10.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/co-vo-nu-cuong-cua-chu-tong.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
      <li class="owl-carousel__item">
        <a href="" class="owl-carousel__item--link">
          <div class="owl-carousel__item--link-pic">
            <img src="https://imgtruyentr.staticscdn.net/2021/03/mot-nua-chua-lanh-la-dau-thuong.jpg" alt="" />
          </div>
          <span class="owl-carousel__item--link-name-story">This is name story.
            It's only demo! and i will add to context!</span>
        </a>
        <div class="owl-carousel__item--statistical">
          <p class="owl-carousel__item--statistical-number-chapter">
            <i class="far fa-bookmark"></i>145</p>
          <p class="owl-carousel__item--statistical-number-love">
            <i class="fas fa-heart"></i>2454</p>
          <p class="owl-carousel__item--statistical-number-view">
            <i class="fas fa-eye"></i>13422321</p>
        </div>
        <div class="owl-carousel__item--btn">
          <button class="btn">Theo dõi</button>
          <button class="btn">Yêu thích</button>
        </div>
      </li>
    </ul>
  </div>
</div>