<div class="story-suggest">
    <span class="story-suggest__title">Truyện Cho Bạn!</span>
    <div class="story-suggest__owl">
        <div class="owl-carousel">
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
            <div class="owl-carousel__item">
                {{> Components/Component/Story}}
            </div>
        </div>
    </div>
</div>